<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
            <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
       
      </section>
      
    </aside>
    <div class="col-md-8">
      <h3><%= t(:Micropost_Feed) %></h3>
      <%= render 'shared/feed' %>
      

    </div>

  </div>
<% else %>
  <div class="center jumbotron">
    <h1> <%= t (:Welcome_to_the_Automobiles) %></h1>

    <h2>
      This is the home page for the
      <a href="https://www.autocarindia.com/">Autocar</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<h1><%=t :hello %></h1>
    <p><%= flash[:notice] %></p>
    <p><%= l Time.now, format: :short %></p>
  <%= link_to image_tag("autocar-logo.png", alt: "Rails logo"),
              'https://www.autocarindia.com/' %>
<% end %>
