<footer class="footer">
  <small>
    The <a href="http://www.powerdrift.com/videos-2/"> Tutorial</a>
    by <a href="http://www.powerdrift.com/">power drift</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(:About),  about_path %></li>
      <li><%= link_to t(:Contact), contact_path %></li>
      <li><a href="https://www.autocarindia.com/">News</a></li>
    </ul>
  </nav>
</footer>