<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <nav>
      <div class="menu" lang = <%= I18n.locale %> dir= <%= @local_dir %> >
        <ul class="vertical menu">
          <li><%= t('languages.languages') %>:
              <%= link_to t('languages.en'), root_path(locale: 'en') %> 
              <%= link_to t('languages.fa'), root_path(locale: 'fa') %>
              <%= link_to t('languages.ne'), root_path(locale: 'ne') %>
              <%= link_to t('languages.th'), root_path(locale: 'th') %>
              <hr />
          </li>
         
        </ul>
      </div>
    </nav>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>